
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');



*{
    padding: 0;
    margin: 0;
    font-family: 'Proxima Nova Condensed', sans-serif;
}

li , a{
    list-style: none;
    text-decoration: none;
}

ul{
  margin-bottom: 0;
}

h2{
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.875rem;
}

.btn-block{
  width: 100%;
}

.primary{
  color: #000;
}

.bg-primary{
  background-color: #222!important;
}
.border-primary{
  border-color: #222!important;
}
.btn-primary{
  background-color: #222!important;
  color: white!important;
  border-color: white!important;
}
.btn-primary:hover{
  background-color: white!important;
  color: #222!important;
  border-color: #222!important;
  }
  .bg-career{
    background-color: #2d5775;
    padding: 100px 50px;
  }
.bg-grey{
  background-color: #eff0f2;
  padding: 60px 2px;
}
@media screen and (max-width: 1280px) {
  .bg-career{
    padding: 50px 30px;
}
}
@media screen and (max-width: 988px) {
  .bg-career{
    padding: 0px;
}
}
/* Navigation & home Section */

header {
    background-color: #fff;
  }
  
  
   .logo img {
    margin-top: 12px;
    margin-bottom: 10px;
  }
  
   .clldetal ul {
    float: left;
  }
  
   .clldetal ul li {
    float: left;
    padding: 6px 10px;
    font-weight: 600;
    font-size: .93rem;
  }
  
  .clldetal ul li i {
    color: black;
    margin-right: 5px;
  }
  
   /* .clldetal ul .bgb {
    padding-top: 18px;
  } */
  
   .clldetal ul .btn {
    box-shadow: none;
  }
  
   .header-bottom {
    background-color: #e9e7e7;
  }

  .dropdown-menu li:hover {
    cursor: pointer;
}
  
  .navbar-nav a{
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px 20px;
    margin: 0px 20px;
    color: black;
    }
    /* .nav-link:hover, .link:hover{
    color: grey!important;
    } */
    /* .active{
    color: grey!important;
    } */
    .dropdown-menu li a{
      color: grey;
    }
  
  @media screen and (max-width: 767px) {
    .nav ul li {
      float: none;
      padding: 15px;
      padding-left: 15px;
    }
  }
   .socials ul {
    float: right;
  }
   .socials ul li {
    float: left;
    padding: 6px 19px;
    color: black;
  }
  
.home-container{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('img/Home-bg.webp');
    height: 90vh;
    padding: 3% 7%;
    background-position: center center;
    background-size: cover;
}

.home-container h1{
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 5.25rem;
}
@media screen and (max-width: 576px) {
  .home-container h1{
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 4.5rem;
}
.home-container{
  height: 50vh;
}
}
@media screen and (max-width: 480px) {
  .home-container h1{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 4.5rem;
}
.home-container{
  height: 40vh;
}
}

/* About Section */

.about-text{
    font-size: 1.5rem;
    line-height: 1.75;
    font-weight: 300;
    color: black;
}
.btn-outline-success{
    color: white;
    border-color: #fff;
}
.btn-thm{
  border-color: black;
  color: black;
}
.btn-thm:hover{
  background-color: black;
  color: white;
}

.box{
  text-align: center;
  font-weight: bold;
}
.front{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2b39;
  color: white;
  flex-direction: column;
}
.front p{
  font-size: 1.7rem;
}
.back{
  display: none;
  padding: 20px;
}
.back h6{
  color: #00a8e1;
  font-weight: bold;
}
.back p{
  font-size: 0.8rem;
}
.card:hover .front{
  display: none;
}
.card:hover .back{
  display: block;
}


/* .about-us {
  padding: 50px;
 
  background-color: #FFF;
} */

.text-about{
  padding-top: 100px;
}
@media screen and (max-width: 1280px) {
  .text-about{
    padding-top: 20px;
}
}
/* @media screen and (max-width: 940px) {
  .about-us {
    padding: 30px 10px;
  }
} */

.about-us .text p {
  font-weight: 300;
  font-size: .9rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
  line-height: 28px;
}

.about-us .image img {
  margin-top: 0px;
  width: 95%;
  
}

@media screen and (max-width: 1200px) {
  .about-us .image img {
    margin-top: 0px;
    width: 100%;
    
  }
}
.place-carousel .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.place-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: grey;
  transition: .5s;
}

.place-carousel .owl-dot.active {
  width: 40px;
  background: black;
}

/* blog Section */
.blog {
  background-color: #f7f7f7;
  padding: 50px;
}

@media screen and (max-width: 940px) {
  .blog {
    padding: 30px 10px;
  }
}

.blog .blog-row .blog-col {
  background-color: #fff;
  padding: 15px;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
  margin-bottom: 30px;
}

.blog .blog-row .blog-col img {
  margin-bottom: 20px;
  width: 100%;
}

.blog .blog-row .blog-col span {
  color: #a09f9f;
  font-size: .83rem;
}

.blog .blog-row .blog-col h4 {
  margin-top: 15px;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 15px;
  line-height: 26px;
}

.blog .blog-row .blog-col p {
  font-weight: 500;
  font-size: .93rem;
  line-height: 25px;
}

/* Footer Section */

.footer-ablove {
  padding: 30px;
  background-color: #222;
  color: #FFF;
  font-size: 1.5rem;
}

.footer-ablove .btn {
  float: right;
  background-color: #FFF;
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
}

footer {
  padding: 80px 50px;
  background-color: #1c2b39;
  color: #FFF;
}

@media screen and (max-width: 940px) {
  footer {
    padding: 50px 10px;
  }
}

footer h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 600;
}

footer .about p {
  font-size: .9em;
  margin-bottom: 20px;
}

footer .about .foot-address {
  display: flex;
}

footer .about .foot-address .icon {
  padding: 20px 10px;
}

footer .about .foot-address .addet {
  font-size: .9rem;
  margin: auto 0px;
}

footer .fotblog .blohjb {
  margin-bottom: 10px;
}

footer .fotblog .blohjb p {
  font-size: .9rem;
}

footer .fotblog .blohjb span {
  font-size: .9rem;
}

footer .glink ul li {
  padding: 10px;
}

footer .glink ul li i {
  margin-right: 10px;
}

footer .glink ul li a {
  color: #FFF;
}
.sign-btn{
  color: white;
  border-color: white;
  background-color: #1c2b39;
}
.sign-btn:hover{
  background-color: white;
  border-color: #1c2b39;
  color: #1c2b39;
}


.copy {
  padding: 20px;
  background-color: #222;
  color: #FFF;
}

.copy a {
  color: #FFF;
  font-size: .85rem;
}

.copy span {
  float: right;
}

.copy span i {
  margin-right: 20px;
}

.cop-ck {
  padding: 20px;
  background-color: #ffffffbd;
}

.cop-ck h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* About US Page Section */

.about-container{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('img/ofc-1.webp');
  height: 70vh;
  padding: 3% 7%;
  background-position: center center;
  background-size: cover;
}
.location-container{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('img/Locations.webp');
  height: 70vh;
  padding: 3% 7%;
  background-position: center center;
  background-size: cover;
}

.about-container h1 , .location-container h1{
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 5.25rem;
}
@media screen and (max-width: 576px) {
.about-container h1 , .location-container h1{
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 4.5rem;
}
.about-container , .location-container{
height: 50vh;
}
}
@media screen and (max-width: 480px) {
.about-container h1 , .location-container h1{
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 4.5rem;
}
.about-container .location-container{
height: 40vh;
}
}

.text i{
  padding: 10px;
  background-color: black;
  color: #FFF;
}


/* contact us */
.container-contact{
  background-color: #eff0f2;
  height: 50vh;
}
.container-contact h1{
  font-size: 4rem;
  font-weight: bold;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #2d5775;
    padding: 0.25rem 1rem 0.75rem 0.5rem;
    outline: 0;
    color: #2d5775;
    font-size: .75rem;
    font-weight: bold;
    font-family: "proxima-nova",sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    margin-bottom: 2rem;
}
.contact-btn{
  padding: 10px 20px;
  color: white;
  background-color: #1c2b39;
  border-radius: 8px;
  margin: 15px 0px;
}
.contact-btn:hover{
  color: #1c2b39;
  border-color: #1c2b39;
  background-color: #FFF;
}
.social-icons a{
  margin: 20px 15px;
}
.contact-box{
  display: flex;
  justify-content: center;  
  align-items: center;
  height: 30vh;
  border: 2px solid #1c2b39;
  flex-direction: column;
}


/* Career Section */

.job-jd ul li{
  margin-bottom: 1.5rem;
}
.career-form .form-control{
  margin-bottom: 1rem;
}






